/*************************************************************************
************************************
************************************
* Vimeo Simple API
*
* The Simple API is a really easy way to get information about public videos, users, groups, channels, albums, and activity.
*
* http://developer.vimeo.com/apis/simple
* https://github.com/vimeo/vimeo-api-examples/blob/master/simple-api/gallery/js-example.html
************************************
************************************
**************************************************************************/

#thumbs {
	overflow: auto;
	height: 298px;
	width: 300px;
	border: 1px solid #E7E7DE;
	padding: 0;
	float: left;
	}

#thumbs ul {
	list-style-type: none;
	margin: 0 10px 0;
	padding: 0 0 10px 0;
	}

#thumbs ul li {
	height: 75px;
	}

.thumb {
	border: 0;
	float: left;
	width: 100px;
	height: 75px;
	background: url(http://a.vimeocdn.com/thumbnails/defaults/default.75x100.jpg);
	margin-right: 10px;
	}

#embed { background-color: #E7E7DE;
	height: 280px;
	width: 504px;
	float: left;
	padding: 10px;
	}

#portrait { float: left;
	margin-right: 5px;
	max-width: 100px;
	}

#stats { clear: both;
	margin-bottom: 20px;
	}